/* Os estilos neste arquivo também são incorporados nas páginas da maquineta */

html>body {
    padding-bottom: 0 !important
}

#pre-footer {
    padding-left: 15px;
    padding-right: 15px;
}

.activity-navigation {
    border-top: 1px solid #00A7D6;
    margin-top: 15px;
    padding-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
}

.activity-navigation .row {
    padding-left: 10px;
    padding-right: 10px;
}

.activity-navigation .col-auto {
    padding-left: 5px;
    padding-right: 5px;
}

.activity-navigation .btn {
    font-family: Montserrat, sans-serif;
    text-transform: none;
    font-weight: 700;
    font-size: 14px;
    border: 1px solid #00A7D6;
    padding: 13px 20px;
    background-repeat: no-repeat;
    border-radius: 0;
    line-height: 17px;
}

.activity-navigation #prev-activity-link {
    color: #00A7D6;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.549' height='13.205' viewBox='0 0 13.549 13.205'%3E%3Cpath id='Icon_awesome-arrow-right' data-name='Icon awesome-arrow-right' d='M7.788,3.532,7.117,2.86a.723.723,0,0,0-1.025,0L.213,8.736a.723.723,0,0,0,0,1.025l5.878,5.878a.723.723,0,0,0,1.025,0l.671-.671a.727.727,0,0,0-.012-1.037L4.132,10.46h8.691a.724.724,0,0,0,.726-.726V8.766a.724.724,0,0,0-.726-.726H4.132L7.776,4.569A.721.721,0,0,0,7.788,3.532Z' transform='translate(0 -2.647)' fill='%2300a7d6'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 15px center;
    padding-left: 40px;
    background-color: #fff;
}

.activity-navigation #prev-activity-link:hover,
.activity-navigation #prev-activity-link:focus,
.activity-navigation #prev-activity-link:active {
    background-color: #f2f2f2 !important;
}

.activity-navigation #index-link {
    color: #00A7D6;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='14.625' viewBox='0 0 18 14.625'%3E%3Cpath id='Icon_awesome-list' data-name='Icon awesome-list' d='M2.813,14.625H.563A.562.562,0,0,0,0,15.188v2.25A.563.563,0,0,0,.563,18h2.25a.563.563,0,0,0,.563-.562v-2.25A.562.562,0,0,0,2.813,14.625Zm0-11.25H.563A.562.562,0,0,0,0,3.938v2.25a.562.562,0,0,0,.563.563h2.25a.562.562,0,0,0,.563-.562V3.938A.563.563,0,0,0,2.813,3.375ZM2.813,9H.563A.563.563,0,0,0,0,9.563v2.25a.562.562,0,0,0,.563.563h2.25a.562.562,0,0,0,.563-.562V9.563A.562.562,0,0,0,2.813,9Zm14.625,6.188H6.188a.562.562,0,0,0-.562.563v1.125a.562.562,0,0,0,.563.563h11.25A.562.562,0,0,0,18,16.875V15.75A.563.563,0,0,0,17.438,15.188Zm0-11.25H6.188a.562.562,0,0,0-.562.563V5.625a.562.562,0,0,0,.563.563h11.25A.563.563,0,0,0,18,5.625V4.5A.563.563,0,0,0,17.438,3.938Zm0,5.625H6.188a.562.562,0,0,0-.562.563V11.25a.562.562,0,0,0,.563.563h11.25A.563.563,0,0,0,18,11.25V10.125A.563.563,0,0,0,17.438,9.563Z' transform='translate(0 -3.375)' fill='%2300a7d6'/%3E%3C/svg%3E%0A");
    background-position: 15px center;
    padding-left: 45px;
    background-color: #fff;
}

.activity-navigation #index-link:hover,
.activity-navigation #index-link:focus,
.activity-navigation #index-link:active {
    background-color: #f2f2f2 !important;
}

.activity-navigation #next-activity-link {
    background-color: #00A7D6;
    color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.549' height='13.205' viewBox='0 0 13.549 13.205'%3E%3Cpath id='Icon_awesome-arrow-right' data-name='Icon awesome-arrow-right' d='M5.761,3.532l.671-.671a.723.723,0,0,1,1.025,0l5.878,5.875a.723.723,0,0,1,0,1.025L7.457,15.639a.723.723,0,0,1-1.025,0l-.671-.671a.727.727,0,0,1,.012-1.037L9.416,10.46H.726A.724.724,0,0,1,0,9.734V8.766A.724.724,0,0,1,.726,8.04H9.416L5.773,4.569A.721.721,0,0,1,5.761,3.532Z' transform='translate(0 -2.647)' fill='%23fff'/%3E%3C/svg%3E%0A");
    background-position: calc(100% - 15px) center;
    padding-right: 40px;
}

.activity-navigation #next-activity-link:hover,
.activity-navigation #next-activity-link:focus,
.activity-navigation #next-activity-link:active {
    background-color: #0093bd !important;
    color: #fff !important;
}


.contact {
    border-bottom: 8px solid #333;
    border-bottom-right-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 30px 0;
    padding-bottom: 5px;
}

.contact__text {
    font-family: Heebo, sans-serif;
    font-weight: 300;
    font-size: 16px;
    padding: 20px 30px;
}

.contact__logo a {
    display: block;
    text-indent: -5000px;
    height: 49px;
    width: 130px;
    margin: 5px 0;
    background: url(/theme/efape_ava/pix/logo-gov-sp.png) no-repeat center;
}

@media (max-width: 576px) {
    .contact {
        flex-direction: column;
    }
}

#page-footer {
    background: #232d3c !important;
    color: #fff;
    padding: 15px 0;
    font-family: Heebo, sans-serif;
    font-size: 15px;
    font-weight: 400;
}

#page-footer .container {
    padding-top: 0;
    padding-bottom: 0;
}

#page-footer a {
    color: inherit;
    text-decoration: underline;
}