{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_calendar/footer_options

    Displays export options on the calendar footer.

    Example context (json):
    {
        "exportcalendarbutton": "<button class='btn btn-secondary'>Export calendar</button>",
        "managesubscriptionbutton": "<button class='btn btn-secondary'>Manage subscriptions</button>"
    }
}}
<div class="bottom">
    {{#exportcalendarbutton}}

    <div class="{{classes}} my-1">
        <form method="{{method}}" action="{{url}}" {{#formid}}id="{{formid}}"{{/formid}}>
            {{#params}}
                <input type="hidden" name="{{name}}" value="{{value}}">
            {{/params}}
            <button type="submit" class="btn btn-primary"
                id="{{id}}"
                title={{#quote}}{{tooltip}}{{/quote}}
                {{#disabled}}disabled{{/disabled}}
                {{#attributes}} {{name}}={{#quote}}{{value}}{{/quote}} {{/attributes}}>{{label}}</button>
        </form>
    </div>
    {{#hasactions}}
        {{> core/actions }}
    {{/hasactions}}

    {{/exportcalendarbutton}}
    {{#managesubscriptionbutton}}

    <div class="{{classes}} my-1">
        <form method="{{method}}" action="{{url}}" {{#formid}}id="{{formid}}"{{/formid}}>
            {{#params}}
                <input type="hidden" name="{{name}}" value="{{value}}">
            {{/params}}
            <button type="submit" class="btn btn-primary"
                id="{{id}}"
                title={{#quote}}{{tooltip}}{{/quote}}
                {{#disabled}}disabled{{/disabled}}
                {{#attributes}} {{name}}={{#quote}}{{value}}{{/quote}} {{/attributes}}>{{label}}</button>
        </form>
    </div>
    {{#hasactions}}
        {{> core/actions }}
    {{/hasactions}}

    {{/managesubscriptionbutton}}
</div>
